@model EventViewModel
@{
    ViewData["Title"] = "_EditEvent";
}

<div class="col-lg-1 border">
    @Html.TextBoxFor(x => x.Id, new { @readonly = "readonly", @class = "form-control" })
</div>
<div class="col-lg-2 border">
    @Html.TextBoxFor(x => x.EventName, new { @class = "form-control" })
</div>
<div class="col-lg-2 border">
    @Html.TextBoxFor(x => x.OddsForFirstTeam, new { @class = "form-control" })
</div>
<div class="col-lg-1 border">
    @Html.TextBoxFor(x => x.OddsForDraw, new { @class = "form-control" })
</div>
<div class="col-lg-2 border">
    @Html.TextBoxFor(x => x.OddsForSecondTeam, new { @class = "form-control" })
</div>
<div class="col-lg-2 border">
    @Html.TextBoxFor(x => x.EventStartDate, new { @class = "form-control" })
</div>
<div class="col-lg-1">
    <button type="submit" formaction="@Url.Action("Edit")">Save</button>
</div>
<div class="col-lg-1">
    <button type="submit" formaction="@Url.Action("Delete")">Delete</button>
</div>


